* {
    color: hsl(73, 100%, 0%);
}
button:hover {
    color: rgb(214, 63, 63);
  }
h1 {
    color: rgb(8, 12, 23);
    text-align: center;
}
#title {
    margin: auto;
}
body {
    background-color: rgb(241, 225, 106);
}
a[href^="#"] {
    background-color: rgb(157, 157, 190);
}
ul, p {   
    font-family: 'Open Sans', sans-serif;    
}
.box {
    background-color: white;
    text-align: center;
    
    margin-top: 1em;
    margin-bottom: 1em;
    border: 2px solid #000000; 
    margin: 1em 1vh;
}
.address {
    width: 25ex;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}