/*CSS file*/

* {
    color: hsl(73, 100%, 0%);
}
button:hover {
    color: rgb(214, 63, 63);
  }
h1 {
    color: rgb(8, 12, 23);
    text-align: center;
}
#Title {
    position:sticky;
    margin: auto;
    top: 0;
}
body {
    background-color: rgb(241, 225, 106);
}
a[href^="#"] {
    background-color: rgb(157, 157, 190);
}
ul, p, summary, ol {   
    font-family: 'Open Sans', sans-serif;    
}
.box {
    display: inline-block;
    background-color: white;
    text-align: center;
    
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1 vh;
    margin-right: 1 vh;
    border: 2px solid #000000; 
    margin: 1em 1vh;
}
.address {
    position: static;
    width: 25ex;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
#flexbox-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    column-gap: 15px;
}
#grid-template {
    display: grid;
    grid-template-areas:"1 2"
    "3 4";
    grid-template-columns: 60% 40%;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 100px;
    row-gap: 100px;
}
.col-1 {
    max-width: 1500px;
}

.col-3 {
    max-height: 2in;
}
#attendees > li{
    color: rgb(72, 0, 255);
}
#findProg + li{
    color: red;
}
#clock {
    display: block;
}
#meetingRec {
    border-style: solid;
    border-width: 3pt;
    border-color: black;
    border-radius: 10%;
}
a:active{
    color:bisque
}
form {
    padding: 5px 2px 5px 2px;
    border-width: 5Q;
    border-color: black;
    border-style: solid;
}
summary {
    text-decoration: underline overline #8a1adb;
}
@media (min-width:600px) {
    p{
        font-size: 1.25rem;
    }
}
